= form_with model: @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |message|
          %li= message
  = f.label :name, '', {}
  = f.text_field :name, {}
  = f.label :description, '', {}
  = f.text_area :description, {}
  = f.label :status
  = f.text_field :status
  .actions
    = f.submit 'Save'
